$main: #fff;
$primary: #39CDCC;
$secondary:#213F7D;
$subcolor: #545F7D;
$white: #fff;
$black: #000;

// FONT SIZES 
$medium: 40px;
$small: 60px;

.nav {
    height: 100px;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 3px 0px 20px #0000000A;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.06);
    padding: 0px 30px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;

    .left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .searchContainer {
            width: 300px;
            display: flex;
            position: relative;
            right:255px;

            input {
                flex:1;
                padding: 0px 15px;
                border-radius: 8px;
                width: 350px;
                height: 40px;
                border:transparent;
                padding:0px 10px;
                flex: 1;
                outline: none;
                border: solid 1px #545F7D26;
                border-radius: 8px;
                padding: 0px 15px;
            }

            .image {
                position:absolute;
                padding:12px 12px;
                left:255px;
                width:20px;
                height:18px;
                background: $primary;
                color:$white;
                border: none;
                border-radius: 0px 8px 8px 0px;
            }

            @media screen and (max-width: 768px) {
                visibility: hidden;
            }
        }

       
    } 

    .right {
        display: flex;
        align-items: center;

        a {
            text-decoration: underline;
            color: #213F7D;
            font-size: 16px;
            font-weight: 400px;
            margin-right: 30px;
            

        }

        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 80px;
            
            @media(max-width: 1000px) {
                margin-right: 20px;
            }

            img {
                width: 20px;
                height: 22px;
                color: #213F7D;
            }
        }


        .person {
            display: flex;
            align-items: center;
            margin-right: 60px;
            
            @media(max-width: 1000px) {
                margin-right: 20px;
            }

            img {
                width: 48px;
                height: 48px;
                object-fit: contain;
            }

            span {
                margin: 0px 10px;
                color: #213F7D;
            }

            svg {
                cursor:pointer;
                width: 20px;
                height: 12px;
                color: #213F7D;
            }
        }

        @media screen and (max-width: 768px) {
            
        }
    }

   
}